<form action="/pages" method="post">
  <p><label>Title</label></p>
  <p><input type="text" name="title"></p>

  <p><label>Content:</label></p>
  <p><textarea name="body"></textarea></p>

  <p><input type="submit" value="Save"></p>
</form>
