<!doctype html>
<html>
  <head>
    <title>Kiwi | A Simple Wiki</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
